<div class="bg-black text-slate-500 text-sm text-center pt-12 pb-20 m-auto space-y-5">
  <p>
    © 2022 <a href="https://github.com/cschuijt" class="text-teal-600 hover:underline">Casper Schuijt</a> and contributors
  </p>
  <p>
    For copyright and licensing information, check the <a href="https://github.com/cschuijt/dotagem/blob/main/LICENSE" class="text-teal-600 hover:underline">LICENSE file</a> on Github.
  </p>
</div>
