<div class="bg-slate-800 rounded-xl shadow-md overflow-hidden w-full h-fit text-white">
  <div class="bg-cyan-400 min-h-fit">
    <div class="py-10">
      <%= image_tag "telegram.png", height: "60px", width: "60px", class: "m-auto" %>
    </div>
  </div>
  <div class="px-5 py-10 space-y-5 text-slate-400 text-base">
    <h2 class="text-xl text-white text-center font-semibold pb-1">Log in with Telegram to use the bot</h2>
    <p>
      Your phone number and personal data is not shared with us, we only
      store an account ID so we know whose matches to fetch.
    </p>
    <p>
      You can also send <code class="rounded-md bg-slate-700 p-1">/login</code>
      to <a href="https://t.me/dotagem_bot" class="text-teal-300 hover:underline">@dotagem_bot</a>
      to log in without having to type out your phone number!
    </p>
  </div>
  <div class="bg-slate-900 p-5 grid grid-cols-1 grid-rows-1">
    <div class="place-self-center">
      <script async src="https://telegram.org/js/telegram-widget.js?19" data-telegram-login="dotagem_test_bot" data-size="large" data-auth-url="<%= url_for "auth/telegram/callback" %>"></script>
    </div>
  </div>
</div>
