# Example credentials configuration
# To generate a master key and credentials file, remove credentials.yml.enc
# and run "rails credentials:edit", a new key and file will be generated.
# You can then copy-paste this setup into the credentials file, filling in
# all the values as needed.

# If you want another credentials file for development (useful if you run the
# bot through a different username), use "rails credentials:edit --environment=development"


# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
# To generate one, run "rails secret" in the terminal
secret_key_base: 

# The base URL of the application, because Telegram controllers don't get
# access to this and including the usual Rails nonsense is very expensive
base_url: 

# Telegram bot token, message @BotFather for this
# Fill in the bot's username to let it respond to mentions
telegram:
  bot:
    token: 
    username: 

# Steam API key, go to https://steamcommunity.com/dev for this
steam:
  token: 
